Csharp_Group_Assignment/Connected Services/srvDatabase/Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Database" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseService" />
      <xsd:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabase_checkUniqueCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUniqueCourse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_checkUniqueCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUniqueCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_checkUniqueProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUniqueProgram" />
  </wsdl:message>
  <wsdl:message name="IDatabase_checkUniqueProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUniqueProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_PullData_InputMessage">
    <wsdl:part name="parameters" element="tns:PullData" />
  </wsdl:message>
  <wsdl:message name="IDatabase_PullData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PullDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_PushData_InputMessage">
    <wsdl:part name="parameters" element="tns:PushData" />
  </wsdl:message>
  <wsdl:message name="IDatabase_PushData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabase">
    <wsdl:operation name="checkUniqueCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/checkUniqueCourse" message="tns:IDatabase_checkUniqueCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/checkUniqueCourseResponse" message="tns:IDatabase_checkUniqueCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkUniqueProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/checkUniqueProgram" message="tns:IDatabase_checkUniqueProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/checkUniqueProgramResponse" message="tns:IDatabase_checkUniqueProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PullData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/PullData" message="tns:IDatabase_PullData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/PullDataResponse" message="tns:IDatabase_PullData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/PushData" message="tns:IDatabase_PushData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/PushDataResponse" message="tns:IDatabase_PushData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabase" type="tns:IDatabase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkUniqueCourse">
      <soap:operation soapAction="http://tempuri.org/IDatabase/checkUniqueCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUniqueProgram">
      <soap:operation soapAction="http://tempuri.org/IDatabase/checkUniqueProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PullData">
      <soap:operation soapAction="http://tempuri.org/IDatabase/PullData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushData">
      <soap:operation soapAction="http://tempuri.org/IDatabase/PushData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Database">
    <wsdl:port name="BasicHttpBinding_IDatabase" binding="tns:BasicHttpBinding_IDatabase">
      <soap:address location="http://localhost:49886/Database.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>