Csharp_Group_Assignment/Connected Services/srvDatabase/Database1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseService" />
  <xs:import schemaLocation="http://localhost:49886/Database.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="checkUniqueCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUniqueCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUniqueCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUniqueProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUniqueProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUniqueProgramResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseService" minOccurs="0" name="PullDataResult" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="values" nillable="true" type="q2:ArrayOfTupleOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>