Csharp_Group_Assignment/Connected Services/srvDatabase/Database1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="checkUniqueCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUniqueCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUniqueCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUniqueProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUniqueProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUniqueProgramResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>